<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AutoLaunch" value="false" />
        <add key="SafeMode" value="false" />
        <add key="LaunchMinimized" value="false" />
        <add key="Autorun" value="true" />
        <add key="Keybind" value="false" />
        <add key="RecordedKeybind" value="" /> <!-- Timesup keybind -->
        <add key="RecordedKeybind2" value="" /> <!-- The other one -->
		<add key="RecordedPath" value="" />
	</appSettings>
</configuration>
