<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AutoLaunch" value="false" />
        <add key="SafeMode" value="false" />
        <add key="LaunchMinimized" value="false" />
        <add key="Autorun" value="false" />
        <add key="Keybind" value="false" />
        <add key="RecordedKeybind" value="" />
        <add key="RecordedKeybind2" value="" />
		<add key="RecordedPath" value="" />
    </appSettings>
</configuration>
